osx_image: beta-xcode6.3

xcode_project: BingAPI.xcodeproj
xcode_sdk: iphonesimulator8.3

install:
- gem install travis-xcodebuild

xcode_scheme:
- BingAPI
- "Podspec Lint"

script: travis-xcodebuild

env:
    global:
    - TIMEOUT=1000
    - CLANG_STATIC_ANALYZER_MODE=deep
    - IOS_PLATFORM_NAME='iPhone Retina (4-inch)'
    matrix:
    - USE_NETWORK=true
