language: objective-c
osx_image: xcode7
before_install:
- gem install cocoapods
script:
- xcodebuild -workspace BingAPI.xcworkspace -scheme 'BingAPI' -sdk iphonesimulator9.1 -destination 'platform=iOS Simulator,name=iPhone 6,OS=9.1' build test GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES GCC_GENERATE_TEST_COVERAGE_FILES=YES
after_success:
- bash <(curl -s https://codecov.io/bash)
env:
  global:
  - TIMEOUT=1000
  matrix:
  - USE_NETWORK=true
